<h2> ======================================================</h2>
 <h1>MA477 - Theory and Applications of Data Science</h1> 
  <h1>Lesson 12: Lab </h1> 
 
 <h4>Dr. Valmir Bucaj</h4>
 United States Military Academy, West Point 
AY20-2
<h2>======================================================</h2>

<h2>House Voting Datset</h2>

In today's lecture we will be exploring the 1984 United Stated Congressional Voting Records via machine-learning to obtain useful insights.

<h3>Description</h3>

This data set includes votes for each of the U.S. House of Representatives Congressmen on the 16 key votes identified by the CQA. The CQA lists nine different types of votes: voted for, paired for, and announced for (these three simplified to yea), voted against, paired against, and announced against (these three simplified to nay), voted present, voted present to avoid conflict of interest, and did not vote or otherwise make a position known (these three simplified to an unknown disposition).
Attribute Information:

    Class Name: 2 (democrat, republican)
    handicapped-infants: 2 (y,n)
    water-project-cost-sharing: 2 (y,n)
    adoption-of-the-budget-resolution: 2 (y,n)
    physician-fee-freeze: 2 (y,n)
    el-salvador-aid: 2 (y,n)
    religious-groups-in-schools: 2 (y,n)
    anti-satellite-test-ban: 2 (y,n)
    aid-to-nicaraguan-contras: 2 (y,n)
    mx-missile: 2 (y,n)
    immigration: 2 (y,n)
    synfuels-corporation-cutback: 2 (y,n)
    education-spending: 2 (y,n)
    superfund-right-to-sue: 2 (y,n)
    crime: 2 (y,n)
    duty-free-exports: 2 (y,n)
    export-administration-act-south-africa: 2 (y,n)

Source

Origin:

Congressional Quarterly Almanac, 98th Congress, 2nd session 1984, Volume XL: Congressional Quarterly Inc. Washington, D.C., 1985.
https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records

Citation:
Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.


<h2>Tasks</h2>

Use the following tasks to guide your work, but don't get limited by them. You are strongly encouraged to pursue any additional avenue that you feel is valuable.
<ul>
  
  <li>Build a machine-learning classification model that predicts whether a member of the Congress is a Democrat or Republican based on how they voted on these 16 issues?
<ul> 
    <li>Describe how are you dealing with missing values?</li>
    <li> Describe the choice of the model and the reasons for that choice.</li>
    <li> What metric are you measuring? Accuracy? Recall? Precision? Why?</li>
    <li> Build the ROC curve and compute AUC</li>
    </ul>
    
  </li>
  
  <li>Explore the voting patterns of Democrats vs. Republicans. Explain what stands out.</li>
    
    
 </ul>

In [7]:
import pandas as pd

In [26]:
df=pd.read_csv('house-votes.csv')

In [27]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [28]:
df.shape

(435, 17)

In [29]:
df.columns

Index(['Class Name', ' handicapped-infants', ' water-project-cost-sharing',
       ' adoption-of-the-budget-resolution', ' physician-fee-freeze',
       ' el-salvador-aid', ' religious-groups-in-schools',
       ' anti-satellite-test-ban', ' aid-to-nicaraguan-contras', ' mx-missile',
       ' immigration', ' synfuels-corporation-cutback', ' education-spending',
       ' superfund-right-to-sue', ' crime', ' duty-free-exports',
       ' export-administration-act-south-africa'],
      dtype='object')

Variable assignment:

0=n

1=y

0.5=?

In [31]:
for col in df.columns[1:]:
    df[col]=df[col].apply(lambda x: 0 if x=='n' else 1 if x=='y' else 0.5)

In [32]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0
1,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.5
2,democrat,0.5,1.0,1.0,0.5,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,democrat,0.0,1.0,1.0,0.0,0.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,democrat,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,1.0

In [33]:
df[df.columns[0]]=df[df.columns[0]].apply(lambda x: 1 if x=='republican' else 0)

In [34]:
df.head()

,Class Name,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,0.0,1.0
1,1,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.5
2,0,0.5,1.0,1.0,0.5,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,0,0.0,1.0,1.0,0.0,0.5,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,1.0